{% extends "shop/Basic.html" %}
{% load static %}

{% block title %}
EYE GUARD
{% endblock %}

{% block content %}

<!-- Start Bradcaump area -->

<div class="bradcaump_area bg_image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump_inner text-center">
                        	<h2 class="bradcaump-title">Shop Contact Lenses</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="{% url 'ShopHome' %}">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Shop</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- Ends Bradcaump area -->

<!-- Start Contact-lense Area -->

<div class="shop_area section-ptb-xl bg--white">
            <div class="container">
                <div class="row">
					<div class="tab_content">

								<div class="row single_grid_product tab-pane fade show active" id="tab1" role="tabpanel">
									<!-- Start Single Product -->

									<!-- End Single Product -->

									<!-- End Single Product -->
									<!-- Start Single Product -->

									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/gray lense.jpg' %}" alt="product img">
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe1' %}">Gray Lense</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe1' %}">Gray Lense</a></h4>
													<ul class="price">
														<li>₹ 1199</li>
														<li class="old-price">₹ 1299</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/lense brown.jpg' %}" alt="product img" height=350px>
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe2' %}">Brown lense</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe2' %}">Brown lense</a></h4>
													<ul class="price">
														<li>₹ 899</li>
														<li class="old-price">₹ 1199</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/mix colour.jpg' %}" alt="product img" height=350px>
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe3' %}">Mix Colour</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe3' %}">Mix Colour</a></h4>
													<ul class="price">
														<li>₹ 1799</li>
														<li class="old-price">₹ 1999</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/honey lense.jpg' %}" alt="product img" height=415px>
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe4' %}">Honey Lense</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png'%}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png'%}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe4' %}">Honey Lense</a></h4>
													<ul class="price">
														<li>₹ 1299</li>
														<li class="old-price">₹ 1599</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/brown lense.jpg' %}" alt="product img" height=410px>
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe5' %}">Daily Brown Lense</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe5' %}">Daily Brown Lense</a></h4>
													<ul class="price">
														<li>₹ 1199</li>
														<li class="old-price">₹ 1399</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/lense6.jpg' %}" alt="product img" height=370px>
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe6' %}">Colour Lense</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png'%}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe6' %}">Colour Lense</a></h4>
													<ul class="price">
														<li>₹ 999</li>
														<li class="old-price">₹ 1199</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/lense8 rainbow.jpg' %}" alt="product img">
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe7' %}">Rinosin Glasses</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe7' %}">Rainbow Lense</a></h4>
													<ul class="price">
														<li>₹ 1199</li>
														<li class="old-price">₹ 1499</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/lense ice green.jpg' %}" alt="product img">
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe8' %}">Ice Green Lense</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %}" alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe8' %}">Ice Green Lense</a></h4>
													<ul class="price">
														<li>₹ 1299</li>
														<li class="old-price">₹ 1599</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="{% static 'shop/img/product/almond gray.jpg' %}" alt="product img">
												</a>
												<div class="product_action">
													<h4><a href="{% url 'Contactlenseframe9' %}">Gray</a></h4>
													<ul class="cart_action">
														<li><a href="cart.html"><img src="{% static 'shop/img/icons/add_to_cart.png' %} " alt="icons"></a></li>
														<li><a href="#"><img src="{% static 'shop/img/icons/compare_icon.png' %}" alt="icons"></a></li>
														<li><a href="wishlist.html"><img src="{% static 'shop/img/icons/wishlist_icon.png' %}" alt="icons"></a></li>
														<li><a title="Quick View" class="quickview" href="#"><img src="{% static 'shop/img/icons/quick_view.png' %}" alt="icons"></a></li>
													</ul>
												</div>
												<div class="content">
													<h4><a href="{% url 'Contactlenseframe9' %}">Gray Lense</a></h4>
													<ul class="price">
														<li>₹ 1599</li>
														<li class="old-price">₹ 1999</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
								</div>

								<div class="row single_grid_product tab-pane fade" id="tab2" role="tabpanel">
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="{% static '' %}shop/img/product/list1.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Rinosin Glasses</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="{% static '' %}shop/img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="{% static '' %}shop/img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list2.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Easin Glasses</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list3.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Macro Melodi</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list4.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Movilark Raison</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list5.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Movilark Raison</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list6.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Oakley Glasses</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list7.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Rinosin Glasses</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list8.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Ray Bune</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list9.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Ribsonchasmish</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list1.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4><a href="single-product.html">Rinosin Glasses</a></h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
												<ul class="cart_action">
													<li><a href="cart.html"><img src="img/icons/add_to_cart.png" alt="icons"></a></li>
													<li><a href="#"><img src="img/icons/compare_icon.png" alt="icons"></a></li>
													<li><a title="Quick View" class="quickview" href="#"><img src="img/icons/quick_view.png" alt="icons"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
								</div>
							</div>

						</div>
					</div>

				</div>

            </div>
        </div>
<!-- End Contact-Lense Area -->


{% endblock %}
