{% extends "shop/Basic.html" %}
{% load static %}

{% block title %}
EYE GUARD
{% endblock %}

{% block content %}

<!-- Start Bradcaump area -->

<div class="bradcaump_area bg_image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump_inner text-center">
                            <h2 class="bradcaump-title">SELECT LENS FOR SPECTACLES </h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" href="{% url 'ShopHome' %}">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">lens</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Ends Bradcaump area -->

<!-- start prescription area-->

<div class="container">
  <div class="row">

      <div class="col-6">
        <div  style="padding-top:30px">
            <a href="{% url 'ShopPrescription' %}">
                <img src="{% static 'shop/img/product/anti-glare.jpg' %}" alt="submit" height="333" width="600" >
            </a>

            <div class="price">
                <center>   <span class="new"><B><h3>₹499</h3></B></span>
                    <span> <h4> ANTI-GLARE GLASSES WITH GREEN COATING</h4></span>
            </div>
        </div>
      </div>

      <div class="col-6">
        <div  style="padding-top:30px">
            <a href="{% url 'ShopPrescription' %}">
                <img src="{% static 'shop/img/product/bifocal.jpg' %}" alt="submit" >
            </a>

            <div class="price">
                <center>   <span class="new"><B><h3>₹499</h3></B></span>
                    <span> <h4> BI-FOCAL GLASSES WITH GREEN COATING</h4></span>
            </div>
        </div>
      </div>

        <div class="col-6">
          <div  style="padding-top:30px">
                <a href="{% url 'ShopPrescription' %}">
                    <img src="{% static 'shop/img/product/prograssive.jpg' %}" alt="submit" height="" width="600">
                </a>

            <div class="price">
                <center>   <span class="new"><B><h3>₹2999</h3></B></span>
                    <span> <h4>PROGRESSIVE GLASSES WITH GREEN COATING</h4></span>
            </div>
            </div>
        </div>

        <div class="col-6">
          <div  style="padding-top:30px">
            <a href="{% url 'ShopPrescription' %}">
                <img src="{% static 'shop/img/product/blueblock.jpg' %}" alt="submit" height="353">
            </a>

            <div class="price">
                <center>   <span class="new"><B><h3>₹999</h3></B></span>
                    <span> <h4> BLUE BLOCK GLASSES</h4></span>
            </div>
          </div>
        </div>

  </div>
</div>
<!-- Ends prescription area-->

{% endblock %}
